<section class="landing_view">
  <div class="left_view">
    <h2>Welcome to the ESVON GROUP </h2>
    <div class="div1">
      ESVON GROUP is primarily focused on a wide range of services.
      Some of these services include the ESVON FOODS. What is ESVON FOOD?
      ESVON FOOD cares about your health and how productive you can be.
      It is our mission to delivery the best food services at your door step, with just
      a call away 
    </div>
    <div class="div2">
      ESVON GROUP is primarily focused on a wide range of services.
      Some of these services include the ESVON FOODS. What is ESVON FOOD?
      ESVON FOOD cares about your health and how productive you can be.
      It is our mission to delivery the best food services at your door step, with just
      a call away 
    </div>
  </div>
  <div class="center_view">
    <div class="defaultBtn">
      <a class="btnNum1" >test btn</a>
    </div>
    <div class="defaultBtn">
      <a class="btnNum1" >test btn</a>
    </div>
    <div class="defaultBtn">
      <a class="btnNum1" >test btn</a>
    </div>
    <div class="defaultBtn">
      <a class="btnNum1" >test btn</a>
    </div>
  </div>

  <div class="right_view">

  </div>
</section>