// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.main {
    margin-top: -20px;
    margin-left: -6px;
    margin-right: -6px;
    padding: 0;
    height: 80vh;
    position: relative;
}

.link_wrapper {
    width: 100%;
    height: 8vh;
    margin: 2vh;
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
}

.signup,
.login {
  list-style: none;
  margin-left: 1em;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.6em;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #7451eb,
              0 0 0.8rem #7451eb,
              0 0 2.8rem #7451eb,
              inset 0 0 1.3rem #7451eb;
}
.login_btn,
.signup_btn {
  width: 25em;
  list-style: none;
  margin-top: .5em;
  margin-bottom: .5em;
  border: 0.1rem solid #fff;
  border-radius: 2rem;
  padding: 0.2em;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #7451eb,
              0 0 0.8rem #7451eb,
              0 0 2.8rem #7451eb,
              inset 0 0 1.3rem #7451eb;
  color: #7451eb;
  font-size: 18px;
}

.login_btn:hover {
  cursor: pointer;
}
.login_link,
.signup_link {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.landing_view {
  width: 100%;
  height: 70vh;
  position: absolute;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

.left_view {
  font-family: 'Ubuntu', sans-serif;

  h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: blue;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
    // animation: flicker 1.5s infinite alternate;
  }

  .div1 {
    width: 80%;
    padding: 2rem;
    margin: auto;
  }

  .div2 {
    width: 90%;
    height: 25vh;
    margin: auto;
    margin-top: 2rem;
    padding: 0.3em;
  }
}
.center_view {
  border: 1px solid green;
}
.right_view {
 
}

.defaultBtn {
  width: 5em;
  height: 2em;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              // 0 0 2rem #bc13fe,
              // 0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
}

.btnNum1 {
  position: relative;
  padding: 1em;
  margin-top: 2em;
}

// Registration
.main_signup,
.main_login {
  width: 100%;
  height: 74vh;
  background-color: #7451eb;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.signup_section,
.login_section {
  width: 80%;
  margin: auto;

  h2 {
    text-align: center;
  }
}
.login_section {
  position: relative;
  margin-top: 3em;
  height: 25em;
}

.field,
.actions {
  width: 40%;
  margin: auto;
}

.firstname,
.lastname,
.phone_number,
.email,
.password,
.password_confirm,
.sign_up,
.login_shared_link {
  width: 100%;
  height: 4vh;
  margin: 2px;
}

.link_color {
  color: #fff;
  text-align: center;
}

.sign_up {
  background-color: #fff;
  color: #7451eb;
  border: 0;
  font-weight: bolder;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
}

.sign_up:hover {
  cursor: pointer;
}
// footer

footer {
  position: relative;
  margin-top: 40px;
  text-align: center;
}